*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.DS_Store
*.bak
debezium-source-custom-plugin.json
debezium-connector-mysql-v2.4.0.zip
debezium-connector-mysql-2.4.0.Final-plugin.tar.gz
jcustenborder-kafka-config-provider-aws-0.1.2.zip
/debezium-connector-mysql
/.kiro
msk-connector-worker-config.b64
msk-connector-worker-config.txt
# CDK asset staging directory
.cdk.staging
cdk.out
